# Renomeie este arquivo para .env.local e preencha com suas chaves do Supabase
NEXT_PUBLIC_SUPABASE_URL=https://hmhoefzxkyyivgctpuyp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtaG9lZnp4a3l5aXZnY3RwdXlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgyMzY0MjUsImV4cCI6MjA3MzgxMjQyNX0.wu0VaXduEqvT_kobx6uKzaXWHdbZUb7TLmv7lzLwQCg